# Обязательно в проде (DEBUG=False):
SECRET_KEY=
ALLOWED_HOSTS=natus.uz,api.natus.uz

DEBUG=False
DB_NAME=hotel_crm
DB_USER=hotel_user
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432

# Срок жизни JWT (дней), по умолчанию 1
JWT_ACCESS_TOKEN_LIFETIME_DAYS=1

CORS_ALLOWED_ORIGINS=https://natus.uz
TELEGRAM_BOT_TOKEN=
